* {
    margin: 0;
    padding: 0;
}

body {
   display: grid;
   grid-template-columns: 25% 25% 25% 25%;
   grid-template-rows: auto;
   grid-template-areas: 
   "header header header header"
   "section section section section"
   "section section section section"
   "footer footer footer footer";
}

.header {
    display: flex;
    grid-area: header;
    background-color: rgb(109, 14, 14);
    justify-content: space-evenly;
    padding: 2em;
}

.section {
    display: flex;
    grid-area: section;
    background-color: rgb(41, 41, 41);
    justify-content: space-evenly;
    align-items: center;
    height: 70vh;
}

.footer {
    display: flex;
    grid-area: footer;
    background-color: rgb(22, 22, 22);
}